/*! @import */
@import "tailwind/base.css";
@import "base/jetbrains_mono.css";

@layer base {
  html {
    @apply font-sans text-sol-00 bg-sol-3;
    font-feature-settings: "zero", "ss01", "ss02", "cv08";
  }

  * {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
