/*! @import */
@import "tailwind/base.css";
@import "base/jetbrains_mono.css";

@layer base {
  html {
    @apply font-sans;
  }

  @supports (font-variation-settings: normal) {
    html {
      @apply font-sans-variable;
      font-feature-settings: "zero", "ss01", "ss02";
    }
  }
}

@layer base {
  html {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
